*{
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-image: url(./img/space.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    gap: 1rem;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background: rgba( 161, 161, 232, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
}

.item{
    width: 80%;
    display: flex;
    padding: 1rem;
    justify-content: left;
    align-items: center;
    background: rgba( 161, 161, 232, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
}

.item label{
    display: flex;
    gap: .3rem;
}

form button{
    font-weight: 700;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 2rem;
    background: rgba( 161, 161, 232, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
}

form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.start-end-button{
    font-weight: 700;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    background: rgba( 161, 161, 232, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
}

.developed{
    font-weight: bold;
    font-size: small;
    display: flex;
    right: 0;
    bottom: 0;
    position: absolute;
    justify-content: center;
    gap: .3rem;
    align-items: center;
    margin-right: .5rem;
}